<div class="island_wrap">
  <div class="island_dot" id="statusDot"></div>

  <div class="island_texts">
    <div class="island_slides" id="chipSlider">

      <div class="island_flex" data-index="0">
        <span class="text_primary">Open for collaboration</span>
      </div>

      <div class="island_flex" data-index="1">
        <span class="text_light">Based in</span>
        <span class="text_primary">Belfast, GB</span>
      </div>

      <div class="island_flex" data-index="2">
        <span class="text_light">Local Time</span>
        <span class="text_primary" id="localTime">--:--:--</span>
      </div>

    </div>
  </div>
</div>
